<div class="col-md-12 col-lg-12 portlets">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">修改员工信息</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="padd">
                <div class="form quick-post">
                    <form class="form-horizontal">
                        @{
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="content">用户账号</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="username1" value="@ViewBag.username">
                                </div>
                            </div>
                            <!-- Title -->
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="title">姓名</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="name" value="@ViewBag.employeename">
                                </div>
                            </div>
                            <!-- Content -->

                            <div class="form-group">
                                <label class="control-label col-lg-2" for="content">用户密码</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="pwd1" value="@ViewBag.pwd">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">职务</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="zhiwu">
                                        <option value="@ViewBag.zhiwu">@ViewBag.zhiwu</option>
                                        @{
                                            List<Model.t_role> list = ViewData["zhiwu1"] as List<Model.t_role>;
                                            <option value="">--请选择--</option>
                                            if (list.Any())
                                            {
                                                foreach (var item in list)
                                                {
                                                    <option value="@item.name">@item.name</option>

                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2" for="tags">拥有权限</label>
                                <div class="col-lg-10">
                                    <select class="form-control" id="jurisdiction">
                                        <option value="@ViewBag.pername">@ViewBag.pername</option>
                                        <option value="">--请选择--</option>
                                        <option value="管理员">管理员</option>
                                        <option value="财务管理">财务管理</option>
                                        <option value="执行">执行</option>
                                        <option value="初级审核">初级审核</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-9">
                                    <input onclick="updateupt();" type="button" class="btn btn-primary" value="提交" />
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function updateupt() {
        if ($("#username1").val() == "") {
            alert("用户名不能为空~");
            return;
        } else if ($("#name").val() == "") {
            alert("姓名不能为空~");
            return;
        }
        else if ($("#pwd1").val() == "") {
            alert("密码不能为空~");
            return;
        }
        else if ($("#zhiwu").val() == "") {
            alert("职务不能为空~");
            return;
        } else if ($("#jurisdiction").val() == "") {
            alert("拥有权限不能为空~");
            return;
        }
        var username = $("#username1").val();
        var name = $("#name").val();
        var pwd = $("#pwd1").val();
        var zhiwu = $("#zhiwu").val();
        var jurisdiction = $("#jurisdiction").val();
        $.ajax({
            url: "/User/UpdateUsers",
            type: "post",
            data: {
                username: username,
                name: name,
                pwd: pwd,
                zhiwu: zhiwu,
                jurisdiction: jurisdiction
            },
            success: function (data) {
                var d = eval('(' + data + ')');
                if (d.status == 0) {
                    layer.msg(d.msg, {
                        icon: 5
                    });
                } else if (d.status == 1) {
                    layer.msg(d.msg, {
                        icon: 1
                    });
                    location.reload();
                };
            }

        })
    }


</script>