<style>
    * {
        margin: 0;
        padding: 0;
    }

    table, th, td {
        border: 1px solid black;
        text-align: center;
    }

        table tr th {
            color: black;
        }

        table tr td {
            color: blue;
        }

    table {
        width: 100%;
        height: 100%;
    }

    .exc {
        height: 70px;
        width: 600px;
    }

    .k {
        height: 30px;
        width: 600px;
    }

    .beizhu {
        width: 600px;
    }
</style>
<script src="~/js/money/money.js"></script>
<body onclick="money();">
    <section id="container" class="">
        <section id="main-content">
            <section class="wrapper">
                <div style="position:relative;left:30%;width:300px;"><h2 style="font-weight:800">年度立项项目申请表</h2></div>
                <div class="col-md-11 col-lg-11 portlets">
                    <table style="border-style:none">
                        <tr style="border-style:none">
                            <th style="max-width:500px;">项目名称</th>
                            <td style="float:left;">
                                <input type="text" style="width:400px;" id="name" />
                            </td>
                            <th style="position:absolute; margin-left:65%;">日期</th>
                            <td style="float:left;float:right">
                                <input type="text" name="date" id="today" />
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="k">申请人</th>
                            <td class="k">
                                <select class="form-control" id="zhiwu">
                                    <option value="">--请选择--</option>
                                    @{
                                        IList<Model.t_user> list = ViewData["user"] as IList<Model.t_user>;
                                        if (list.Any())
                                        {
                                            foreach (var item in list)
                                            {
                                                <option value="@item.employeename">@item.employeename</option>
                                            }
                                        }

                                    }
                                </select>
                            </td>
                            <th class="k">负责人</th>
                            <td class="k">
                                <select class="form-control" id="zhiwu">
                                    <option value="">--请选择--</option>
                                    @{
                                        IList<Model.t_user> lists = ViewData["user"] as IList<Model.t_user>;
                                        if (list.Any())
                                        {
                                            foreach (var item in lists)
                                            {
                                                <option value="@item.employeename">@item.employeename</option>
                                            }
                                        }

                                    }
                                </select>
                            </td>
                            <th class="k">流水号</th>
                            <td class="k">222</td>
                        </tr>
                        <tr>
                            <th class="k">公司集团</th>
                            <td class="k">
                                <select class="form-control">
                                    <option value="">--请选择--</option>
                                    @{
                                        IList<Model.Company> companylist = ViewData["company"] as IList<Model.Company>;
                                        if (companylist.Any())
                                        {
                                            foreach (var item in companylist)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        }

                                    }
                                </select>
                            </td>
                            <th class="k">品牌</th>
                            <td class="k">
                                <select class="form-control">
                                    <option value="">--请选择--</option>
                                    @{

                                        IList<Model.Brand> brandlist = ViewData["brand"] as IList<Model.Brand>;
                                        if (brandlist.Any())
                                        {
                                            foreach (var item in brandlist)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        }

                                    }
                                </select>
                            </td>
                            <th class="k">年份</th>
                            <td class="k">
                                <input class="form-control" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th class="k">项目类别</th>
                            <td class="k">
                                <select class="form-control">
                                    <option value="">--请选择--</option>
                                    <option value="K">K</option>
                                    <option value="S">S</option>
                                    <option value="P">P</option>
                                    <option value="E">E</option>
                                    <option value="M">M</option>
                                    <option value="G">G</option>
                                </select>
                            </td>
                            <th class="k">总金额</th>
                            <td class="k">
                                <input class="form-control" type="text" id="Totalmoney" />
                            </td>
                            <th class="k">不含税金额</th>
                            <td class="k">
                                <input class="form-control" readonly="readonly" type="text" id="Notaxmoney" />
                            </td>
                        </tr>
                        <tr>
                            <th class="k">预估成本</th>
                            <td class="k">
                                <input class="form-control" type="text" id="cost" />
                            </td>
                            <th class="k">预估毛利</th>
                            <td class="k">
                                <input class="form-control" readonly="readonly" type="text" id="Forecast" />
                            </td>
                            <th class="k">预估毛利率</th>
                            <td class="k"></td>
                        </tr>
                        <tr>
                            <th class="k">备注</th>
                            <td class="beizhu" colspan="5">
                                <input class="form-control" type="text" />
                            </td>

                        </tr>

                    </table>
                </div>

            </section>
        </section>
    </section>
    </body>
    <script>
        function today() {
            var today = new Date();
            var h = today.getFullYear();
            var m = today.getMonth() + 1;
            var d = today.getDate();
            return h + "-" + m + "-" + d;
        }
        document.getElementById("today").value = today();
        var name = $("#name").val();

     

    </script>
