<section id="container" class="">
    <section id="main-content">
        <section class="wrapper" style="background-color:white">
            <form class="navbar-form">
                <input class="form-control" id="SearchProject" placeholder="请输入项目名称" type="text">
                <input type="button" class="btn btn-primary" value="搜索" onclick="SearchProjectByName(this)" />
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>项目代码</th>
                        <th>项目含税金额</th>
                        <th>项目成本</th>
                        <th>项目日期</th>
                        <th>项目结束日期</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    @*warning*@
                    @{
                        List<Model.Project> list = ViewData["projectlist"] as List<Model.Project>;
                        List<Model.Money> list1 = ViewData["moneylist"] as List<Model.Money>;
                        if (list.Any())
                        {
                            foreach (var item in list)
                            {
                                var hanshuijine = 0;
                                var xiangmuchengben = 0;
                                foreach (var item1 in list1)
                                {
                                    if (item1.ProjectId.Equals(item.Id))
                                    {
                                        hanshuijine = Convert.ToInt32(item1.NoTaxlMoney);
                                        xiangmuchengben = Convert.ToInt32(item1.projectcost);
                                    }
                                }
                                if (item.typefinished != 1)
                                {
                                    <tr class="warning">
                                        <td>@item.ProjectName</td>
                                        <td>@item.ProjectCode</td>

                                        <td>@hanshuijine</td>
                                        <td>@xiangmuchengben</td>
                                        <td>@item.ProjectStartDate</td>
                                        <td>@item.ProjectEndDate</td>
                                        <td>未审批</td>
                                    </tr>
                                }
                                else if (item.typefinished == 1)
                                {
                                    <tr class="success">
                                        <td>@item.ProjectName</td>
                                        <td>@item.ProjectCode</td>
                                        <td>@hanshuijine</td>
                                        <td>@xiangmuchengben</td>
                                        <td>@item.ProjectStartDate</td>
                                        <td>@item.ProjectEndDate</td>
                                        <td>已结案</td>
                                    </tr>
                                }
                            }
                        }

                    }
                </tbody>
            </table>
            <div style="text-align:center">
                <ul class="pagination" style="display: inline-block;overflow: auto">
                    @{
                        if (ViewBag.choosecount > 0)
                        {
                            <li style="list-style-type:none;display:inline"><a href="/Home/ProjectList?count=@(ViewBag.choosecount-1)">&laquo;</a></li>
                        }
                        var length = Convert.ToInt32(ViewBag.count);
                        for (int i = 0; i < length; i++)
                        {
                            if (ViewBag.choosecount == i)
                            {
                                <li style="list-style-type:none;display:inline" class="disabled" ><a href="/Home/ProjectList?count=@i">@(i + 1)</a></li>
                            }
                            else
                            {
                                <li style="list-style-type:none;display:inline"><a href="/Home/ProjectList?count=@i" style="color:blue">@(i + 1)</a></li>
                            }
                        }
                        if (ViewBag.choosecount < (ViewBag.count - 1))
                        {
                            <li style="list-style-type:none;display:inline"><a href="/Home/ProjectList?count=@(ViewBag.choosecount+1)">&raquo;</a></li>
                        }
                    }
                </ul>
                </div>
            <script>
                function SearchProjectByName(_this) {
                    var name = "";
                    name = $("#SearchProject").val();
                    var link = "/Home/ProjectList" + '?proname=' + name+'&count=0';
                    window.location.href = link;
                }
            </script>
        </section>
    </section>
</section>